# =========================
# OS
# =========================
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# =========================
# IDEs & Editors
# =========================
.idea/
.vscode/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# =========================
# Environment & secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/